
.DS_Store
documents
tests
Examples
examples
svg
unsplash
/cache
backup
linux
mac
windows

package-lock.json
package.json
pnpm-lock.yaml
vite.config.ts

**/*.md
!/README.md
!/README_zh.md

node_modules
!node_modules/vanilla-create-storage/dist
!node_modules/vanilla-jui/dist
!node_modules/vanilla-request/dist
!node_modules/vanilla-signal/dist
!node_modules/vanilla-signal-i18n/dist
!node_modules/vanilla-signal-query/dist
!node_modules/vanilla-simple-lru/dist
!node_modules/vanilla-sse/dist

assets/css/*.css
!assets/css/*.min.css
assets/js/*.js
!assets/js/*.min.js
assets/js/es/*.js
!assets/js/es/*.min.js

*.pot~
*.po~

public/js/es/fingerprint.js
public/js/es/infinitegrid.esm.js

vendor/bin
vendor/phpstan
vendor/phpunit
vendor/phar-io
vendor/nikic
vendor/myclabs
vendor/sebastian
vendor/staabm
vendor/theseer
vendor/wp-phpunit
.circleci/
.phpcs.xml.dist
phpunit.xml.dist
bin/install-wp-tests.sh


vendor/**/*/LICENSE
vendor/**/*/*.yml

vendor/mobiledetect/mobiledetectlib/docker
CNAME

vendor/alibabacloud/tea/*.dist
vendor/alibabacloud/src/Request
vendor/alibabacloud/src/Signature

vendor/aliyuncs/oss-sdk-php/.github
vendor/aliyuncs/oss-sdk-php/samples
vendor/aliyuncs/oss-sdk-php/.gitignore
vendor/aliyuncs/oss-sdk-php/*.sh
vendor/aliyuncs/oss-sdk-php/*.jpg
vendor/aliyuncs/oss-sdk-php/*.xml

vendor/qcloud/cos-sdk-v5/.github
vendor/qcloud/cos-sdk-v5/sample

vendor/tencentcloud
