
.DS_Store
node_modules
documents
tests
Examples
examples
svg
unsplash
/cache
backup
linux
mac
windows

package-lock.json
package.json
pnpm-lock.yaml
vite.config.ts

**/*.md
!/README.md

assets/css/*.css
!assets/css/*.min.css
assets/js/*.js
!assets/js/*.min.js
assets/js/es/*.js
!assets/js/es/*.min.js

*.pot~
*.po~

vendor/**/*/LICENSE
vendor/**/*/*.yml
vendor/mobiledetect/mobiledetectlib/docker
CNAME

public/js/es/fingerprint.js